xml/gallipoliSchema.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start=root
root=element root{(chapter | title | p)+}
# allows at least one chapter, title, or p element in root element
chapter= element chapter{n, text}
title= element title{text}
n= attribute n{text}
# may want to change to xsd:integer at some point
p= element p{text}
